body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  padding: 0;
  margin: 0;
}

#configuration {
  background: #dbe2e9;
  color: #333;
  display: none;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#configuration.on {
  right: 0;
}

img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

#title {
  font-size: large;
}
#subtitle {
  font-size: medium;
}
.text {
  font-size: small;
}