body {
  font-size: 13px;
  font-family: Futura, Arial, sans-serif;
}


/* Style the tab */
#tab {
  display: none;
  overflow: hidden;
  border: 1px solid #ccc;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  border: 1px solid #ccc;
  float: left;
  cursor: pointer;
  padding: 6px 16px;
  transition: 0.3s;
  background-color: #0000;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab .active {
  background-color: #ddd;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 20px 12px;
  border: 1px solid #ccc;
  border-top: none;
}

#home {
  display:block;
}

#configuration {
  padding: 20px;
  border-radius: 25px;
  border: 2px solid #dbe2e9;
  color: #333;
  -webkit-transition-duration: 0.3s;
  -moz-transition-duration: 0.3s;
  -o-transition-duration: 0.3s;
  transition-duration: 0.3s;
}

#configuration label {
  padding-bottom: 10px;
}

img {
  object-fit: cover;
  width: 230px;
  height: 230px;
}

#title {
  font-size: large;
  font-weight: bold;

}
#subtitle {
  font-size: medium;
  padding-bottom: 10px;
}
.item {
  padding-bottom: 10px;
}
.text {
  font-size: small;
}


#colors {
  margin-bottom:20px;
}

.formLabel {
  margin-bottom: 5px;
}
.formSelect {
  margin-bottom: 15px;
}
#closeButton {
  margin-top: 15px;
  padding-bottom: 5px;
}



